.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    height: 9%;
    border-radius: 10px;
    background-color: #16111E;
    justify-content: space-between;
}

.button {
    width: auto;
    height: 50px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    margin-left: 10px;
}

.title {
    border-radius: 10px;
    width: auto;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background: none;
    transition: none;
}

.title-button {
    background: none;
}

.slide_show {
    margin-right: 10px;
}

.file_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #16111E;
    border: 1px solid white;
    border-radius: 4px;
    z-index: 1000;
    min-width: 200px;
}

.new_presentation {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid white;
}