.slideCollection {
    position: absolute;
    cursor: pointer;
    left: 1%;
    top: 15%;
    height: 80%;
    border-radius: 10px;
    width: 18%;
    background-color: #16111E;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    padding: 10px;
}

.slideCounter {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.slideContainer {
    width: 1008px;
    height: 567px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
    transform: scale(0.3);
    transform-origin: top left;
}

.counter {
    position: absolute;
    top: 4px;
    left: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.slide {
    border-radius: 50px;
    top: 18px;
}

.slideCollectionObjectSelected {
    outline: solid;
    outline-color: #535BF2;
    outline-width: 2px;
    border-radius: 12px;
}

.slideCollectionObject {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    margin: 8px 0;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px;
    opacity: 1;
}
