.sidePanel {
    position: absolute;
    left: 89%;
    top: 30%;
    width: 10%;
    height: 50%;
    background-color: #16111E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.button {
    margin: 20px auto 0px;
    background-color: #535BF2;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: background-color 0.2s;
}

.button:hover{
    background-color: #3e44b6;
}


.addSlide {
    width: 100%;
    height: auto;
}

.section {
    background-color: #535BF2;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    padding-bottom: 10px;
}

.text {
    margin-left: 22%;
    margin-top: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #1e162a;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}